* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background:  whitesmoke;
    color: #333;
}

/* Navbar */
nav {
    background: black;
    padding: 1rem;
}

nav ul {
    display: flex;              /* makes horizontal */
    justify-content: center;
    list-style: none;           /* remove bullets */
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 0.8rem;           /* spacing */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    color: orange;
}

/* Mobile */
@media (max-width: 600px) {
    nav ul {
        flex-direction: row;    /* keep horizontal */
        flex-wrap: wrap;        /* wrap if needed */
    }

    nav a {
        font-size: 1.3rem;
    }
}


/* Hero Section */
.hero {
    height: 50vh; /* or whatever height you want */
    background: url("images/logo.jpeg") center/contain no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Mobile devices */
@media (max-width: 768px) {
    .logo {
        height: 50vh;     /* half of mobile screen height */
    }
}




/* Content */
.container {
    padding: 40px;
    text-align: center;
}

/* Gallery */
.carousel img {
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .carousel img {
        height: 220px;
    }
}


/* Footer */
footer {
    background: black;
    color: white;
    padding: 30px;
    text-align: center;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .logo {
        width: 150px;
        padding: 12px;
    }
}





