* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background:  whitesmoke;
    color: #333;
}

/* Navbar */
nav {
    background: black;
    padding: 1rem;
}

nav ul {
    display: flex;              /* makes horizontal */
    justify-content: center;
    list-style: none;           /* remove bullets */
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 0.8rem;           /* spacing */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    color: orange;
}

/* Mobile */
@media (max-width: 600px) {
    nav ul {
        flex-direction: row;    /* keep horizontal */
        flex-wrap: wrap;        /* wrap if needed */
    }

    nav a {
        font-size: 1.3rem;
    }
}


/* Hero Section */
.hero {
    height: 40vh; /* or whatever height you want */
    background: url("images/logo.jpeg") center/contain no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Mobile devices */
@media (max-width: 768px) {
    .logo {
        height: 50vh;     /* half of mobile screen height */
         width: 150px;
        padding: 12px;
    }
}


/* Content */
.container {
    padding: 40px;
    text-align: center;
}

/* Gallery */
.slider {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

/* Dot indicators */
.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #fff;
}




/* Footer */
.contact-footer {
    background: #111;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.contact-footer h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-footer p {
    margin: 12px 0;
    font-size: 18px;
}

.contact-footer i {
    margin-right: 10px;
    color: #ff4d4d;
    transition: transform 0.3s ease, color 0.3s ease;
}

.contact-footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Hover Effects */
.contact-footer p:hover i {
    transform: scale(1.2);
    color: #ffcc00;
}

.contact-footer a:hover {
    color: #ffcc00;
}

/* for spaces btw blocks */
h2, h3, p {
    margin: 0.5rem 0;
}












